body {
  background: #FFE200;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #FFE200 7%, #fefcea 75%, #fefcea 75%, #fefcea 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #FFE200 7%, #fefcea 75%, #fefcea 75%, #fefcea 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #FFE200 7%, #fefcea 75%, #fefcea 75%, #fefcea 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea', GradientType=1); */
  /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

.page-header {
  width: 100%;
}

.App-header {
  text-align: left;
  font-weight: 900;
  height: 200px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 20px;
  color: black;
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

.App-title {
  font-size: 5em;
  padding-top: 1em;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.icon-calendar {
  width: 100%;
  color: black
}

.calendar {
  box-sizing: content-box;
  overflow-x: hidden;
  background-color: white;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 5px;
}

.day-cell {
  text-align: center;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bolder;
}

.week-header-cell {
  text-align: center;
  margin: auto;
  border-bottom: 1px solid #888888;
  border-radius: 0px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.day-cell:hover {
  background-color: lightgray;
}

tr td {
  padding: 5px;
  border-radius: 8px;
  height: 50px;
}

table {
  overflow: hidden;
}

.calendar-div {
  width: 90%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border: 1px solid lightgray;
  padding: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(85, 83, 83, 0.5);
  -moz-box-shadow: 0px 4px 8px 0px rgba(85, 83, 83, 0.5);
  box-shadow: 0px 4px 8px 0px rgba(85, 83, 83, 0.5);
}

.calendar-header {
  padding: 7px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.day-name {
  width: 8vw;
}

.today {
  width: 8vw;
  margin: auto;
  border: 3px solid black
}

.side-bar {
  background-color: #ffffff;
  font-size: 18px;
  margin: 15px;
  margin-top: 0px;
  padding: 15px;
  width: 100%;
  min-height: 70vh;
  border: 1px solid lightgray;
  border-radius: 7px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(85, 83, 83, 0.5);
  -moz-box-shadow: 0px 4px 8px 0px rgba(85, 83, 83, 0.5);
  box-shadow: 0px 4px 8px 0px rgba(85, 83, 83, 0.5);
  z-index: 10;
  margin-bottom: 80px;
}

.side-bar p {
  margin-left: 5px;
}

.day-header {
  text-align: center;
}

.description-text {
  display: block
}

input {
  margin: 9px;
  padding: 3px;
}

.task-item li:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
}

.task-item li {
  margin: 0.5em;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: content-box;
  list-style: none;
  border: 1px solid lightgray;
}

.task-item {
  width: 100%;
  list-style: none;
}

.close {
  float: right;
  position: relative;
  bottom: 2em;
  cursor: pointer;
}

.close-remove {
  margin-right: 5px;
  width: 1.5em;
  height: 1.5em;
  padding: 2px;
  float: right;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
}

.close-remove:hover {
  color: red;
}

.confirm-btn {
  width: 1.5em;
  height: 1.5em;
  margin-left: 5px;
  padding: 2px;
  opacity: 0.5;
  float: right;
  cursor: pointer;
}

.confirm-btn:hover {
  color: rgb(87, 200, 87);
}

.edit-btn {
  float: right;
  position: relative;
  bottom: 0.7em;
  left: 0.9em;
  color: rgb(184, 183, 183);
  cursor: pointer;
}

.edit-btn:hover {
  color: rgb(122, 121, 121)
}

.well input {
  margin: 7px;
}

.selected-item {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
  padding: 10px;
  font-size: 18px;
  font-weight: 200 !important;
  height: 100%;
}

.active {
  color: white;
  background-color: blue;
}

:required {
  border: 1px solid red;
}
.form-row {
  margin-bottom: 20px;
}

.delete-div {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 226, 0, 0.75);
}

.total-container {
  background-color: #ffffff;
  font-size: 18px;
  padding: 10px;
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid lightgray;
}

.deleteAll-btn {
  float: right;
}

@media only screen and (min-width: 725px) {
  .App-header {
    padding-left: 4%
  }
  tr td {
    padding: 10px;
  }
  .task-item {
    width: 50%;
  }
}

@media only screen and (min-width: 1025px) {
  .calendar-div {
    width: 45%;
  }
  tr td {
    padding: 15px;
  }
}

@media only screen and (min-width: 1335px) {
  .App-header {
    padding-left: 8%
  }
  .side-bar {
    width: 55%;
  }
  .calendar-div {
    width: 35%;
    margin-right: 30px;
  }
  .main-container {
    padding: 20px;
    padding-left: 5%;
  }
}